{% extends 'dashboard.html' %}
{% block title %}{{ project.name }} - Create Subtask{% endblock %}
{% block dashboard %}
<div class="header">
	<h1 >Create a New Subtask</h1>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
	  {{ message }}
	{% endfor %}
  {% endif %}
{% endwith %}
 <form method="post">
	{{ components.error(msg) }}
	{{ form.hidden_tag() }}
	<div class="field">
		{{ form.name.label }}
		{{ form.name(size=32) }}
	</div>
	<div class="field">
		{{ form.description.label }}
		{{ form.description(size=32, rows="4") }}
	</div>
	<div class="field">
		{{ form.deadline.label }}
		{{ form.deadline() }}
	</div>
	<div class="form__wrapper">
		<a href="/projects" class="button cancel">Cancel</a>
		{{ form.submit(class_="submit") }}
	</div>
</form>
{% endblock %}
