.theme-red {
	--p-50: hsl(0, 85%, 95%);
	--p-100: hsl(0, 85%, 85%);
	--p-200: hsl(0, 85%, 75%);
	--p-300: hsl(0, 85%, 65%);
	--p-400: hsl(0, 85%, 55%);
	--p-500: hsl(0, 85%, 45%);
	--p-600: hsl(0, 85%, 34%);
	--p-700: hsl(0, 85%, 23%);
	--p-800: hsl(0, 85%, 12%);
	--p-900: hsl(0, 85%, 5%);
}
.theme-blaze {
	--p-50: hsl(15, 85%, 95%);
	--p-100: hsl(15, 85%, 85%);
	--p-200: hsl(15, 85%, 75%);
	--p-300: hsl(15, 85%, 65%);
	--p-400: hsl(15, 85%, 55%);
	--p-500: hsl(15, 85%, 45%);
	--p-600: hsl(15, 85%, 34%);
	--p-700: hsl(15, 85%, 23%);
	--p-800: hsl(15, 85%, 12%);
	--p-900: hsl(15, 85%, 5%);
}
.theme-orange {
	--p-50: hsl(30, 85%, 95%);
	--p-100: hsl(30, 85%, 85%);
	--p-200: hsl(30, 85%, 75%);
	--p-300: hsl(30, 85%, 65%);
	--p-400: hsl(30, 85%, 55%);
	--p-500: hsl(30, 85%, 45%);
	--p-600: hsl(30, 85%, 34%);
	--p-700: hsl(30, 85%, 23%);
	--p-800: hsl(30, 85%, 12%);
	--p-900: hsl(30, 85%, 5%);
}
.theme-dandelion {
	--p-50: hsl(45, 85%, 95%);
	--p-100: hsl(45, 85%, 85%);
	--p-200: hsl(45, 85%, 75%);
	--p-300: hsl(45, 85%, 65%);
	--p-400: hsl(45, 85%, 55%);
	--p-500: hsl(45, 85%, 45%);
	--p-600: hsl(45, 85%, 34%);
	--p-700: hsl(45, 85%, 23%);
	--p-800: hsl(40, 85%, 12%);
	--p-900: hsl(35, 85%, 5%);
}
.theme-yellow {
	--p-50: hsl(60, 85%, 95%);
	--p-100: hsl(60, 85%, 85%);
	--p-200: hsl(60, 85%, 75%);
	--p-300: hsl(60, 85%, 65%);
	--p-400: hsl(60, 85%, 55%);
	--p-500: hsl(60, 85%, 45%);
	--p-600: hsl(60, 85%, 34%);
	--p-700: hsl(55, 85%, 23%);
	--p-800: hsl(50, 85%, 12%);
	--p-900: hsl(45, 85%, 5%);
}
.theme-chartreuse {
	--p-50: hsl(80, 85%, 95%);
	--p-100: hsl(80, 85%, 85%);
	--p-200: hsl(80, 85%, 75%);
	--p-300: hsl(80, 85%, 65%);
	--p-400: hsl(80, 85%, 55%);
	--p-500: hsl(80, 85%, 45%);
	--p-600: hsl(80, 85%, 34%);
	--p-700: hsl(80, 85%, 23%);
	--p-800: hsl(80, 85%, 12%);
	--p-900: hsl(80, 85%, 5%);
}
.theme-green {
	--p-50: hsl(110, 85%, 95%);
	--p-100: hsl(110, 85%, 85%);
	--p-200: hsl(110, 85%, 75%);
	--p-300: hsl(110, 85%, 65%);
	--p-400: hsl(110, 85%, 55%);
	--p-500: hsl(110, 85%, 45%);
	--p-600: hsl(110, 85%, 34%);
	--p-700: hsl(110, 85%, 23%);
	--p-800: hsl(110, 85%, 12%);
	--p-900: hsl(110, 85%, 5%);
}
.theme-emerald {
	--p-50: hsl(140, 85%, 95%);
	--p-100: hsl(140, 85%, 85%);
	--p-200: hsl(140, 85%, 75%);
	--p-300: hsl(140, 85%, 65%);
	--p-400: hsl(140, 85%, 55%);
	--p-500: hsl(140, 85%, 45%);
	--p-600: hsl(140, 85%, 34%);
	--p-700: hsl(140, 85%, 23%);
	--p-800: hsl(140, 85%, 12%);
	--p-900: hsl(140, 85%, 5%);
}
.theme-teal {
	--p-50: hsl(165, 85%, 95%);
	--p-100: hsl(165, 85%, 85%);
	--p-200: hsl(165, 85%, 75%);
	--p-300: hsl(165, 85%, 65%);
	--p-400: hsl(165, 85%, 55%);
	--p-500: hsl(165, 85%, 45%);
	--p-600: hsl(165, 85%, 34%);
	--p-700: hsl(165, 85%, 23%);
	--p-800: hsl(165, 85%, 12%);
	--p-900: hsl(165, 85%, 5%);
}
.theme-turquiose {
	--p-50: hsl(180, 85%, 95%);
	--p-100: hsl(180, 85%, 85%);
	--p-200: hsl(180, 85%, 75%);
	--p-300: hsl(180, 85%, 65%);
	--p-400: hsl(180, 85%, 55%);
	--p-500: hsl(180, 85%, 45%);
	--p-600: hsl(180, 85%, 34%);
	--p-700: hsl(180, 85%, 23%);
	--p-800: hsl(180, 85%, 12%);
	--p-900: hsl(180, 85%, 5%);
}
.theme-skyblue {
	--p-50: hsl(200, 85%, 95%);
	--p-100: hsl(200, 85%, 85%);
	--p-200: hsl(200, 85%, 75%);
	--p-300: hsl(200, 85%, 65%);
	--p-400: hsl(200, 85%, 55%);
	--p-500: hsl(200, 85%, 45%);
	--p-600: hsl(200, 85%, 34%);
	--p-700: hsl(200, 85%, 23%);
	--p-800: hsl(200, 85%, 12%);
	--p-900: hsl(220, 85%, 5%);
}
.theme-blue {
	--p-50: hsl(220, 85%, 95%);
	--p-100: hsl(220, 85%, 85%);
	--p-200: hsl(220, 85%, 75%);
	--p-300: hsl(220, 85%, 65%);
	--p-400: hsl(220, 85%, 55%);
	--p-500: hsl(220, 85%, 45%);
	--p-600: hsl(220, 85%, 34%);
	--p-700: hsl(220, 85%, 23%);
	--p-800: hsl(220, 85%, 12%);
	--p-900: hsl(220, 85%, 5%);
}
.theme-deepblue {
	--p-50: hsl(240, 85%, 95%);
	--p-100: hsl(240, 85%, 85%);
	--p-200: hsl(240, 85%, 75%);
	--p-300: hsl(240, 85%, 65%);
	--p-400: hsl(240, 85%, 55%);
	--p-500: hsl(240, 85%, 45%);
	--p-600: hsl(240, 85%, 34%);
	--p-700: hsl(240, 85%, 23%);
	--p-800: hsl(240, 85%, 12%);
	--p-900: hsl(240, 85%, 5%);
}

.theme-indigo {
	--p-50: hsl(260, 85%, 95%);
	--p-100: hsl(260, 85%, 85%);
	--p-200: hsl(260, 85%, 75%);
	--p-300: hsl(260, 85%, 65%);
	--p-400: hsl(260, 85%, 55%);
	--p-500: hsl(260, 85%, 45%);
	--p-600: hsl(260, 85%, 34%);
	--p-700: hsl(260, 85%, 23%);
	--p-800: hsl(260, 85%, 12%);
	--p-900: hsl(260, 85%, 5%);
}
.theme-purple {
	--p-50: hsl(285, 85%, 95%);
	--p-100: hsl(285, 85%, 85%);
	--p-200: hsl(285, 85%, 75%);
	--p-300: hsl(285, 85%, 65%);
	--p-400: hsl(285, 85%, 55%);
	--p-500: hsl(285, 85%, 45%);
	--p-600: hsl(285, 85%, 34%);
	--p-700: hsl(285, 85%, 23%);
	--p-800: hsl(285, 85%, 12%);
	--p-900: hsl(285, 85%, 5%);
}
.theme-fuschia {
	--p-50: hsl(305, 85%, 95%);
	--p-100: hsl(305, 85%, 85%);
	--p-200: hsl(305, 85%, 75%);
	--p-300: hsl(305, 85%, 65%);
	--p-400: hsl(305, 85%, 55%);
	--p-500: hsl(305, 85%, 45%);
	--p-600: hsl(305, 85%, 34%);
	--p-700: hsl(305, 85%, 23%);
	--p-800: hsl(305, 85%, 12%);
	--p-900: hsl(305, 85%, 6%);
}
.theme-magenta {
	--p-50: hsl(325, 85%, 95%);
	--p-100: hsl(325, 85%, 85%);
	--p-200: hsl(325, 85%, 75%);
	--p-300: hsl(325, 85%, 65%);
	--p-400: hsl(325, 85%, 55%);
	--p-500: hsl(325, 85%, 45%);
	--p-600: hsl(325, 85%, 34%);
	--p-700: hsl(325, 85%, 23%);
	--p-800: hsl(325, 85%, 12%);
	--p-900: hsl(325, 85%, 6%);
}
.theme-rose {
	--p-50: hsl(345, 85%, 95%);
	--p-100: hsl(345, 85%, 85%);
	--p-200: hsl(345, 85%, 75%);
	--p-300: hsl(345, 85%, 65%);
	--p-400: hsl(345, 85%, 55%);
	--p-500: hsl(345, 85%, 45%);
	--p-600: hsl(345, 85%, 34%);
	--p-700: hsl(345, 85%, 23%);
	--p-800: hsl(345, 85%, 12%);
	--p-900: hsl(345, 85%, 6%);
}
.color > .btn:nth-child(1) {
	background-color: var(--red);
}
.color > .btn:nth-child(2) {
	background-color: var(--blz);
}
.color > .btn:nth-child(3) {
	background-color: var(--orn);
}
.color > .btn:nth-child(4) {
	background-color: var(--dan);
}
.color > .btn:nth-child(5) {
	background-color: var(--yel);
}
.color > .btn:nth-child(6) {
	background-color: var(--chr);
}
.color > .btn:nth-child(7) {
	background-color: var(--grn);
}
.color > .btn:nth-child(8) {
	background-color: var(--emr);
}
.color > .btn:nth-child(9) {
	background-color: var(--tea);
}
.color > .btn:nth-child(10) {
	background-color: var(--tur);
}
.color > .btn:nth-child(11) {
	background-color: var(--sky);
}
.color > .btn:nth-child(12) {
	background-color: var(--blu);
}
.color > .btn:nth-child(13) {
	background-color: var(--dep);
}
.color > .btn:nth-child(14) {
	background-color: var(--ind);
}
.color > .btn:nth-child(15) {
	background-color: var(--pur);
}
.color > .btn:nth-child(16) {
	background-color: var(--fus);
}
.color > .btn:nth-child(17) {
	background-color: var(--mag);
}
.color > .btn:nth-child(18) {
	background-color: var(--ros);
}
