{% import 'components.html' as components %}
<html lang="en" class="theme-rose">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
	{{ components.styles() }}
</head>
<body>
    <main class="center">
		<h1 class="not-found">Not Found</h1>
		<p class="not-found">The requested URL was not found on the server</p>
		<h2 class="not-found">:(</h2>
    </main>
</body>
