{% import 'components.html' as components %}
<html lang="en" class="theme-rose">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
	{{ components.styles() }}
</head>
<body>
	<main class="register-page">
		{% block content %}
		<form class="passport register" method="post">
			{{ form.hidden_tag() }}
			<h1>Sign Up</h1>
			<p class="error">{% if msg is not none %}{{ msg }}{% endif %}</p>
			<div class="field">
				{{ form.firstname.label }}
				{{ form.firstname(size=32, class_="input") }}
			</div>
			<div class="field">
				{{ form.lastname.label }}
				{{ form.lastname(size=32, class_="input") }}
			</div>
			<div class="field">
				{{ form.username.label }}
				{{ form.username(size=32, class_="input") }}
			</div>
			<div class="field">
				{{ form.email.label }}
				{{ form.email(size=32, class_="input") }}
			</div>
			<div class="field">
				{{ form.password.label }}
				{{ form.password(size=32, class_="input") }}
			</div>
			<div class="field">
				{{ form.passwordRetype.label }}
				{{ form.passwordRetype(size=32, class_="input") }}
			</div>
			<div class="container">
				<input type="submit" value="Continue" class="btn"/>
				<p>Already have an account? <a class="text bold" href="/">Log in!</a></p>
			</div>
		</form>
		{% endblock %}
	</main>
	<svg class="blob" viewBox="0 0 110 100">
        <path style="fill: var(--p-600)" d="M 109.875 115.005 C -87.094 120.161 64.671 72.568 62.653 28.873 C 58.105 -69.614 152.727 -54.403 174.192 -32.434 C 210.155 4.373 266.118 110.915 109.875 115.005 Z"></path>
    </svg>
</body>
</html>
